.form-login {
    position: relative;
    display: inline-block;
    float: right;
    transition: width 0.4s;
    margin-top: 8px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.form-login .text-input {
	border-radius: 0px;
}

.form-login .btn-primary {
	border-radius: 0px;
}

.header-login-form {
	height: auto !important;
}