body, a{
    color: #002E5B !important;
}

.form-login {
    float: right;
    padding-top: 5px;
}

.form-login .text-input {
	border-radius: 0px;
}

.form-login .btn-primary {
	border-radius: 0px;
}

.header-login-form {
	height: auto !important;
}

.map-background{
    background-image: url("../../../images/ASEAN_countries_capitals_2.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.disable-static-height{
    height: auto;
}

.vh-height{
    height: 80vh;
}

.slogan{
    float: right;
    color: #002E5B;
}

.slogan h2, h4{
    font-weight: bold;
}

.logo{
    max-width: 100%;
    height: 80px;
}

.vintello-blue-button{
    background-color: #002E5B;
}

.vintello-blue-text{
    color: #002E5B;
    font-weight: bold;
}

.form-control{
    border: 3px solid #FDE428;
}

.btn{
    background: #FDE428;
    color: #002E5B;
    font-weight: bold;
    border-radius: 0 !important;
}

.box-corner{
    border: 2px solid #FDE428;
}

.page-header{
    margin: 0;
}

.caption-fix{
    text-align: center;
    float: none;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.caption-fix span{
    color: #002E5B;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #FDE428;
}

.nav-tabs > li > a, .nav-pills > li > a{
    color: #002E5B;
    font-weight: bold;
}

.nav-tabs{
    border-bottom: 1px solid #FDE428;
}
.disable-bold{
    font-weight: 300;
}

.panel-body{
    padding: 0 15px;
}

.font-green-sharp{
    color: #002E5B !important;
}

.caption{
    text-align: center;
    background: #FDE428;
}

.portlet > .portlet-title > .caption{
    float: none;
    display: block;
}

.float-right{
    float: right;
}

[class^="fa-"], [class^="glyphicon-"], [class^="icon-"], [class*=" fa-"], [class*=" glyphicon-"], [class*=" icon-"]{
    line-height: 0;
    margin: 0;
}

.padding-top-30{
    padding-top: 30px;
}

.padding-top-50{
    padding-top: 50px;
}

.credit-value{
    color: #002E5B;
    float: left;
    line-height: 71px;
}

.navbar-brand, .navbar-nav>li>a{
    float: right;
}

/*.nav li a:hover{
    background-color: #FDE428;
}*/

.nav .open a:hover, .nav .open>a, .nav-tabs > li > a:hover, .nav-pills > li > a:hover{
    background-color: #FDE428;
}

.navbar-brand, .navbar-nav>li>a{
    height: 80px;
}

.title-box{
    width: 40%;
    padding: 10px;
    float: left;
    color: #002E5B;
    background: #FDE428;
    font-weight: bold;
    margin-top: 15px;
}

.title-box span{
    float: right;
}

.text-align-center{
    text-align: center;
}

.disable-block{
    display: inline-block;
}

.fixed-bottom-position{
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.search-listname{
    width: 60%;
    margin-top: 3%;
    display: inline-block;
}

.nav-wizard > li.active > a, .nav-wizard > li.active > a:hover, .nav-wizard > li.active > a:focus{
    background-color: #FDE428;
}

.nav-wizard > li.active > a:after{
    border-left-color: #FDE428;
}

.padding-top-15{
    padding-top: 15px;
}

div.tagsinput{
    border: none;
}

div.tagsinput span.tag{
    background-color: #eeeeee;
    color: #002E5B;
}

.fp-tableCell{
    vertical-align: top;
}

.portlet.light{
    padding: 0;
}

.stepone-portlet-title-config{
    background: #FDE428;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.chart-box{
    padding: 0;
    margin-right: 0px;
    height: 235px;
    display: table;
    text-align: center;
    font-weight: bold;
    /*border: 1px solid #FDE428;*/
}

.chart{
    width: 100%;
    height: 235px;
}

.middle-align{
    font-size: 30px;
    vertical-align: middle;
    display: table-cell;
}
.chart-box-title{
    width: 100%;
    height: 10%;
    float: left;
}

.chart-box p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 15%;
}

.chart-box span{
    font-size: 30px;
}

.arrowUp, 
.arrowDown{
    position:fixed;
    z-index:99;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: -38px;
    left: 50%;
}
.arrowDown{
    bottom: 20px;
    left: 720px;
    border-width: 38.5px 34px 0 38.5px;
    border-color: #FDE428 transparent transparent transparent;
}

.arrowUp{
    bottom: 20px;
    left: 635px;
    border-width: 0 38.5px 34px 38.5px;
    border-color: transparent transparent #FDE428 transparent;
}

.arrowDown:hover{
    border-color: #f3c200 transparent transparent transparent;
}

.arrowUp:hover{
    border-color: transparent transparent #f3c200 transparent;
}

.input-icon > .form-control{
    padding-left: 5px;
}

.cho-ngan-lai{
    padding: 0 20%;
}

.portlet.light > .portlet-title{
    display: table;
    text-align: center;
    width: 100%;
}

.portlet.light .portlet-body{
    padding-bottom: 15px;
}

.disable-border{
    border-radius: 0 !important;
}

.alert{
    margin-bottom: 0;
}

.margin-15-0{
    margin: 15px 0;
}

.table-responsive th, .table-responsive td{
    text-align: center;
}

.data-analysis{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.alert{
    -webkit-box-shadow: none;
}